@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/livewire/**/*';

.fi-address-suggestions ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.fi-address-suggestions button {
    background: transparent;
}
